body {
    background: rgb(148, 148, 148);
    margin: 0;
    width: 100%;
}
audio {
    display: none;
}
.app {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 6%;
    font-family: 'Teko', sans-serif;
}
.canvas-wrapper {
    position: relative;
    max-width: 640px;
    max-height: 640px;
    min-width: 320px;
    min-height: 320px;
    width: 40vw;
    height: 40vw;
    border: 10px solid #110133;
    border-radius: 10px;
    background-color: #4dd599;
    box-shadow: 0px 0px 5px 0px;
    outline: none;
    overflow: hidden;
}
.hidden {
    visibility: hidden;
}
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: rgba(88, 88, 88, 0.5);
    max-width: 640px;
    max-height: 640px;
    min-width: 320px;
    min-height: 320px;
    width: 40vw;
    height: 40vw;
    user-select: none;
    z-index: 6;
}
.overlay-innerbox {
    display: flex;
    height: 35%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 10px solid #110133;
    border-bottom: 10px solid #110133;
    background: #1d4d4f;
}
.overlay-innerbox p {
    color: white;
    font-size: 5vw;
    letter-spacing: 1px;
    margin: 0;
}
.overlay-innerbox button {
    padding: 7px 40px;
    margin: 0;
    border: 1px solid #110133;
    font: 2vw 'Share Tech Mono', monospace;
    letter-spacing: -1px;
    color: rgb(228, 228, 228);

    background-color: rgb(0, 44, 138);
    background-image: linear-gradient(rgb(16, 104, 163), rgba(0, 161, 13, 0));

    transition: background-color 0.2s ease-out;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
        0 1px 0 rgba(255, 255, 255, 0.3) inset;
    text-shadow: 0 1px 2px rgba(80, 80, 80, 0.9);

    outline: none;
    user-select: none;
    cursor: pointer;
}

.overlay-innerbox button:hover {
    background-color: rgb(8, 39, 105);
}

.overlay-innerbox button:active {
    position: relative;
    top: 1px;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}
@media screen and (min-width: 1600px) {
  .overlay-innerbox p {
    font-size: 80px;
  }
  .overlay-innerbox button {
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  .overlay-innerbox p {
    font-size: 40px;
  }
  .overlay-innerbox button {
    font-size: 17px;
  }
}
#canvas-fx {
    position: absolute;
    z-index: 5;
    pointer-events: none;
}
#canvas-1 {
    position: absolute;
    background: transparent;
    z-index: 4;
}
#canvas-2 {
    position: absolute;
    z-index: 3;
}
#canvas-3 {
    position: absolute;
    z-index: 2;
}
#canvas-bg {
    position: absolute;
    border: 1px solid #1a1a1a;
    z-index: 1;
}
.game-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
.scorecard {
    background: rgb(236, 236, 236);
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
      0 1px 0 rgba(255, 255, 255, 0.3) inset;    width: 50%;
    width: 149px;
    margin: 10px 20px;
    padding: 10px 0 10px 15px;
    font-family: serif;
    font-size: 18px;
    user-select: none;
}
.scorecard span {
    padding-left: 5px;
}
.options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
}
.options button {
    width: 166px;
    padding: 7px 15px;
    margin: 10px 20px;
    border: 1px solid #110133;
    font-family: serif;
    font-size: 18px;
    color: rgb(228, 228, 228);

    background-color: rgb(0, 44, 138);
    background-image: linear-gradient(rgb(16, 104, 163), rgba(0, 161, 13, 0));

    transition: background-color 0.2s ease-out;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
        0 1px 0 rgba(255, 255, 255, 0.3) inset;
    text-shadow: 0 1px 2px rgba(80, 80, 80, 0.9);

    outline: none;
    user-select: none;
    cursor: pointer;
}
.options .diff-select {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(236, 236, 236);
    padding: 7px 15px;
    margin: 10px 20px;
    width: 134px;
    border-radius: 10px;
    color: black;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
      0 1px 0 rgba(255, 255, 255, 0.3) inset;
    font-family: serif;
    font-size: 18px;
    user-select: none;
}
.options .diff-select select {
    padding: 5px 3px;
    border-radius: 10px;
    outline: none;
    user-select: none;
    cursor: pointer;
}
.options .graphics-select {
  display: flex;
  flex-wrap: wrap;
  width: 134px;
  border-radius: 10px;
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
  background: rgb(236, 236, 236);
  padding: 7px 15px;
  margin: 10px 20px;
  font-family: serif;
  font-size: 18px;
  user-select: none;
}
.options .graphics-select p {
  width: 100%;
  margin: 7px 0 0;
  text-align: center;
}
.options .graphics-select label {
  flex-grow: 1;
  font-size: 14px;
  padding: 7px 0;
  text-align: center;
}
.toggle {
    position: relative;
    width: 150px;
    margin: 25px;
}
.toggle-checkbox {
    display: none;
}
.toggle-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 4px solid #00003f;
    border-radius: 50px;
}
.toggle-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.toggle-inner:before,
.toggle-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 18px;
    color: white;
    font-family: serif;
    font-weight: bold;
    box-sizing: border-box;
}
.toggle-inner:before {
    padding-left: 12px;
    background-color: #1f607a;
    color: #ffffff;
}
.toggle-inner:after {
    padding-right: 12px;
    background-color: #e4e4e4;
    color: #00003f;
    text-align: right;
}
.music-switch .toggle-inner:before {
    content: 'MUSIC ON';
}
.music-switch .toggle-inner:after {
    content: 'MUSIC OFF';
}
.sfx-switch .toggle-inner:before {
    content: 'SFX ON';
    padding-left: 20px;
}
.sfx-switch .toggle-inner:after {
    content: 'SFX OFF';
    padding-right: 20px;
}
.toggle-switch {
    display: block;
    width: 31px;
    margin: -3.5px;
    background: #e4e4e4;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 123px;
    border: 4px solid #00003f;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}
.toggle-checkbox:checked + .toggle-label .toggle-inner {
    margin-left: 0;
}
.toggle-checkbox:checked + .toggle-label .toggle-switch {
    right: 0px;
}

.instructions {
    background: rgb(236, 236, 236);
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px;
    width: 160px;
    margin: 30px 20px;
    padding: 5px 20px;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

.instructions h3 {
    font-size: 24px;
    font-family: 'Share Tech Mono', monospace;
}

.instructions p {
    margin: 18px 0;
}

.load-images {
    visibility: hidden;
}

@media screen and (orientation: portrait) {
  .app {
    flex-direction: column;
    align-items: center;
  }
  .game-data {
    transform: scale(.9);
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    font-size: 16px;
  }
  .options {
    transform: scale(.9);
    order: 1;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }
}